:root {
  --main-font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;

  --text-title-color: rgba(255, 255, 255, 0.9);
  --text-paragraph-color: rgba(255, 255, 255, 0.55);
  --text-label-color: rgba(255, 255, 255, 0.38);
  --text-additional-color: rgba(255, 255, 255, 0.78);
  --text-undertitle-color: rgba(255, 165, 55, 0.55);

  --text-white-color: #fff;
  --brand-orange-color: #ff6e30;
  --brand-bg-color: #1e252b;
  --brand-bg-transparent: #283036; /* ? or rgba(40, 48, 54, 0.6) */

  --shadow: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--brand-bg-color);
  color: var(--text-title-color);

  font-family: var(--main-font-family);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 1440px;
  padding: 0 108px;
  margin: 0 auto;
  /* text-align: center; */
}

.flex-model {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* -== btns ==- */

.btn {
  width: 130px;
  padding: 12px;

  border-radius: 8px;
  border: 1px solid var(--brand-orange-color);
  color: var(--text-white-color);
  background-color: var(--brand-orange-color);

  font-weight: 600;
  font-size: 16px;
  color: var(--text-white-color);

  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--brand-orange-color);
  border: 1px solid var(--brand-orange-color);
  background-color: var(--text-white-color);
}

.btn--visit {
  width: 106px;
  padding: 9px;
}

.btn--sign-up {
  width: 118px;
}

.btn--explore {
  width: 198px;
  padding: 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.btn--load-more {
  width: 184px;
  padding: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  font-weight: 500;
  font-size: 20px;
  color: var(--brand-orange-color);
  background-color: var(--brand-bg-color);
}

.btn--load-more:hover,
.btn--load-more:focus {
  color: var(--text-white-color);
  border: 1px solid var(--text-white-color);
  background-color: var(--brand-bg-color);
}

/* -== /btns ==- */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 26px;

  font-size: 16px;
  color: var(--text-paragraph-color);

  align-items: center;

  /* box-shadow: <x-offset> <y-offset> <blur> <spread> <color> */
  /* box-shadow: inset <x-offset> <y-offset> <blur> <spread> <color> */
  /* text-shadow: <зміщення по x>, <зміщення по y>, <радіус розмиття>, <колір> */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0px 4px 4px var(--shadow);
}

.logo {
  height: 38px;
  vertical-align: bottom; /* delete 4px in bottom of tag <a> */
}

.menu {
  display: flex;
  flex-direction: row;
  width: 432px;
  justify-content: space-between;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 204px;
  align-items: center;
}

.sign-up {
  display: flex;
  justify-content: center;

  text-shadow: none;
}

/* Hero */
.hero {
  padding-top: 104px;
}

.hero-left-box {
  width: 600px;
}

.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: var(--text-title-color);
}
.accent {
  color: var(--brand-orange-color);
}

.hero-text {
  margin-top: 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-paragraph-color);
}

.search {
  margin-top: 60px;
}

.socials {
  margin-top: 110px;
  display: flex;
  column-gap: 8px;
}

.socials-item {
  width: 58px;
  height: 58px;
  border-radius: 8px;

  background: var(--brand-bg-color);

  fill: var(--text-white-color);
  /* opacity="0.78" */
  opacity: 0.78;
  /* text-shadow: <зміщення по x>, <зміщення по y>, <радіус розмиття>, <колір> */
  box-shadow: 0px 4px 4px var(--shadow);
}

.socials-item:hover,
.socials-item:focus {
  opacity: 1;
  fill: var(--brand-orange-color);
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  /* color: green; */
}

.socials-img {
  /* fill: currentColor; */
}

/* Popular */
.popular {
  padding-top: 200px;
  padding-bottom: 200px;
}

.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 48px;
  line-height: 1.3;
  font-weight: 500; /* необхідно перебити */

  color: var(--text-title-color);
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  margin-top: 30px;

  color: var(--text-paragraph-color);
}

.section-text--popular {
  max-width: 428px;
  margin-top: 24px;
}

.popular-grid {
  margin-top: 110px;

  display: flex;
  row-gap: 100px;
  column-gap: 24px;
  flex-wrap: wrap;

  text-align: start;
}

.popular-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: calc((100% - 48px) / 3);
  max-width: 392px;
  padding: 32px;

  border-radius: 15px;
}

.popular-item:hover,
.popular-item:focus {
  width: 392px;
  height: 294px;
  backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.6);
}

.card-top-box {
  display: flex;
}

.card-item-img {
  width: 64px;
  height: 64px;
}

.card-top-box-right-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}

.card-title {
  font-size: 24px;
  color: var(--text-additional-color);
}
.card-payment {
  margin-top: 4px;
  font-weight: 400;
  font-size: 18px;
  color: #ffa537;
}
.card-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-additional-color);
}
.card-bottom-box {
  display: flex;
  justify-content: space-between;
}
.card-bottom-left-box {
  display: flex;
  gap: 12px;
}

.icon {
  width: 42px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: unset;
  cursor: pointer;
}
.icon:hover,
.icon:focus {
  width: 42px;
  height: 42px;
  border-radius: 8px;

  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  background: var(--brand-bg-transparent);
}

.icon-visit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 42px;
  border-radius: 8px;
  background-color: transparent;

  font-weight: 600;
  font-size: 16px;
  color: var(--text-paragraph-color);
}
.icon-visit:hover,
.icon-visit:focus {
  background-color: var(--brand-orange-color);
  color: var(--text-white-color);
}

.btn-load-more {
  margin-top: 100px;
}

/* Partners */
.partners {
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 82px;
  padding-right: 82px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

/* Newcomer tools */
.newcomer-tools {
  padding-top: 200px;
  padding-bottom: 200px;
}

.newcomer-info {
  display: flex;
  flex-direction: column;
  max-width: 428px;
  text-align: left;
}

.section-text--newcomer {
  margin-top: 30px;
}

.btn-newcomer {
  margin-top: 60px;
}

.newcomer-grid {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  text-align: left;
}

.newcomer-item {
  flex-basis: calc((100% - 24px) / 2);
  max-width: 288px;
  padding: 28px 22px;
}

.bg-icon {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-icon--procreate {
  background-image: url("../images/procreate.svg");
}
.bg-icon--toolbox {
  background-image: url("../images/toolbox.svg");
}
.bg-icon--phpstorm {
  background-image: url("../images/phpstorm.svg");
}

/* Employee */
.employee {
}

.employee-container {
  display: flex;
  flex-direction: column;
}
.employee-box {
  display: flex;
  justify-content: space-between;
}

.employee-center-box {
  display: flex;
}

.employee-persona {
}

.employee-img {
  width: 392px;
  height: 492px;
}
.employee-introduction {
  width: 392px;
  margin-left: 60px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.01em;
  color: var(--text-additional-color);

  text-align: left;
}

.employee-img {
}
.employee-persona-box {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
}
.employee-name {
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: var(--text-additional-color);
}
.employee-position {
  margin-top: 2px;

  font-size: 16px;
  color: var(--text-paragraph-color);
}
.emploee-description {
  position: relative;
}
.quote-mark {
  position: absolute;
  top: 0;
  left: 0;

  font-family: var(--second-family);
  font-weight: 500;
  font-size: 250px;
  background: linear-gradient(
    235deg,
    rgba(252, 252, 252, 0) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: rotate(19deg);
}
.employee-introduction {
}

.slider {
  display: flex;
  justify-content: center;
}
.left-arrow {
  width: 80px;
  height: 100px;
}
.right-arrow {
  width: 80px;
  height: 100px;
}
.previous-position {
}
.active-position {
}
.next-position {
}

.join {
  margin-top: 250px;
}

/* Footer */
.footer {
  position: relative;
  margin-top: 240px;
  padding-top: 70px;
  padding-bottom: 98px;
  display: flex;
  justify-content: space-between;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 0px;
}

.short-description {
  display: flex;
  flex-direction: column;
}

.address {
  font-style: normal;
}
