body {
  background-color: #1e252b;
  color: var(--text-title-color);
  font-family: var(--main-font-family);
  font-weight: 500;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Знімає стилізацію з ul */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Знімає стилізацію з <a> */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-font-family: "Poppins", sans-serif;
  --second-family: "Lora", sans-serif;
  --third-family: "Roboto", sans-serif;

  --text-title-color: rgba(255, 255, 255, 0.9);
  --text-paragraph-color: rgba(255, 255, 255, 0.55);
  --text-label-color: rgba(255, 255, 255, 0.38);
  --text-additional-color: rgba(255, 255, 255, 0.78);
  --text-undertitle-color: rgba(255, 165, 55, 0.55);

  --text-white-color: #fff;
  --brand-orange-color: #ff6e30;
  --brand-bg-color: #1e252b;
  --brand-bg-transparent: #283036; /* ? or rgba(40, 48, 54, 0.6) */
}

main {
  padding-left: 108px;
  padding-right: 108px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 26px;
  padding-left: 108px;
  padding-right: 108px;

  font-size: 16px;
  color: var(--text-paragraph-color);

  align-items: center;

  /* text-shadow: <зміщення по x>, <зміщення по y>, <радіус розмиття>, <колір> */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  height: 38px;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 432px;
  justify-content: space-between;
}

.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 204px;
  align-items: center;
}

.sign-up {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 118px;
  height: 48px;
  border-radius: 8px;

  background: var(--brand-orange-color);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--text-white-color);
  text-shadow: none;
}

.hero-box {
  margin-top: 104px;
}

.hero-text {
  margin-top: 30px;
}
.search {
  margin-top: 60px;
}

.btn-search {
  border-radius: 8px;
  width: 130px;
  height: 48px;

  background-color: var(--brand-orange-color);
  color: var(--text-white-color);

  font-weight: 600;
  font-size: 16px;
}
.socials {
  margin-top: 110px;
}

.popular {
  margin-top: 200px;
}

.section-title {
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: var(--text-title-color);
}

.section-text {
  font-size: 18px;
  line-height: 1.67;
  /* margin-top: 30px; */

  text-align: center;
  color: var(--text-paragraph-color);
}

.partners {
  margin-top: 200px;
}

.newcomer-tools {
  margin-top: 182px;
  display: flex;
  justify-content: space-between;
}

.newcomer-info {
  margin-right: 198px;
}

.employee {
  margin-top: 200px;
}

.join {
  margin-top: 250px;
}

.footer {
  margin-top: 240px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  position: relative;
  padding-left: 108px;
  padding-right: 108px;
  padding-bottom: 98px;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  height: 0px;
}

.address {
  font-style: normal;
}
