/*^ Header */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 26px;

  font-size: 16px;
  color: var(--text-paragraph-color);

  align-items: center;

  /* box-shadow ? */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
    0px 4px 4px var(--shadow);
}

.logo {
  height: 38px;
  vertical-align: bottom; /* deleted 4px in bottom of tag <a> */
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 432px;
}

.menu--auth {
  width: 204px;
  align-items: center;
}

.menu__link:hover,
.menu__link:focus {
  color: rgba(255, 255, 255, 85%);
}

.menu__link--non-shadow {
  text-shadow: none;
}
/*/ Header */
