/*^ Join */
.section--join {
  padding-top: 150px;
  padding-bottom: 240px;
}

.join {
  padding-left: 334px;
  padding-right: 334px;

  text-align: center;
}

.section__text--join {
  margin-top: 24px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

/* join form */
.join-form {
  position: relative;

  margin-top: 100px;
  max-width: 100%;
  min-width: 320px;
}

.join-form__input {
  padding-left: 24px;
}

.join-form__label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: transform 250ms ease, color 250ms ease;

  color: var(--text-label-color);
}

/* зсувати label до гори коли... */
.join-form__input:focus + .join-form__label,  /* ...інпут у фокусі */
.join-form__input:not(:placeholder-shown) + .join-form__label /* ...або плейсхолдер не показується */ {
  transform: translateY(-60px);
  color: var(--text-title-color);
}

/*/ Join */
